.app {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: left;
  margin: 0 0 40px 0;
}

.card {
  width: 220px;
  border: 1px solid #000;
  padding: 10px;
}

.button {
  background-color: #5d54ff;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  width: 100%;
}

.products {
  display: flex;
  justify-content: space-between;
  /* center products on page */
  margin: 0 auto;
  padding: 20px;
  width: 760px;
}
